html {
   font-size: 62.5%;
}

body {
   
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    background: var(--primary-strong) url(../images/bg-desktop.svg) no-repeat center center ;
    background-position: 0 top;
    font-size: 1.6rem;
    min-height: 100vh;
    margin: 0 auto;
    background-size: cover;
    width: 100%;
 }

 .header {
   
   margin: 0 4rem;  

}
.header .logo {
   max-width: 22rem;
   width: 100%;
   height: 100%;
   
}


main {
   display: grid;
   grid-template-areas: 
                         "info info"
                        "footer footer";
   grid-area: info;
   display: grid;
   grid-template-columns: 1.35fr 1fr;
   padding: 0 7rem;
   gap: 5rem;
   margin-top: 2rem;
}

.info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 1.5rem;
}

.info h1 {
   font-size: 4.2rem;
   line-height: 1.5;
}

.info p {
   font-size: 1.8rem;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}

.image {
   justify-content: center;
}

.image img {
   width: 100%;
   height: 100%;
}

.info a {
   background-color: white;
   color: var(--primary-strong);
   padding: 1.5rem 7rem;
   font-size: 1.8rem;
   margin-top: 1rem;
   border-radius: 80px;
   transition: 0.3s;
}

.info a:hover {
   background-color: var(--primary-soft);
   color: white;
}


.footer{
   grid: footer;
}

.footer .social {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 20px;
   padding-right: 95px;
}

.footer .social i {
   color: #fff;
   border: solid 2px #fff;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 20px;
   cursor: pointer;
}

.footer .social i:hover {
   background-color: var(--primary-soft);
   transition: 0.3s ease-in-out;
}